/* .buttonLarge {
  width: 70%;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 40%;
  margin-bottom: 12%;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  background: #ff8c38;

  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
} */

.buttonLarge {
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: #fff;
  background-color: #ff8c38;
}

.buttonLarge:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.buttonLarge:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.buttonLarge::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.buttonLarge::after {
  background-color: #ff8c38;
}

.buttonLarge:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
