.container {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 27px;

  font-family: Inter, sans-serif;
  background-color: #252525;
}

.copyright {
  color: #aaa;
  font-size: 14px;
  font-weight: 500;
  line-height: 22.923px;
}

.navFooter {
  border: 1px solid red;
}

/* =============================================MEDIA QUERY 450px */
@media only screen and (max-width: 450px) {
  .container {
    padding: 0 16px;
  }

  .copyright {
    font-size: 10px;
  }
}
