.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 26px;
  min-height: 55vh;
  background: #fff7ed;
  font-family: Inter;
  color: #161616;
  text-align: left;
}

.heroImg {
  height: 25vh;
  background: url("../../../assets/about_hero_img.png");
  background-position: 0 45%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.title {
  margin-top: 50px;
  align-self: flex-start;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

.description {
  margin-top: 30px;
  align-self: flex-start;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.description span {
  display: block;
  margin-top: 20px;
}

.calltoactionContainer {
  width: 100%;
  padding: 32px 37px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 30px;
  margin-bottom: 50px;
  border-radius: 5px;
  background: #ffcc8d;
}

.calltoactionTitle {
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.buttonMediumWrap {
  margin-top: 25px;
}

/* =============================================MEDIA QUERY 450px */
@media only screen and (max-width: 450px) {
  .container {
    min-height: 82vh;
    padding: 0;
  }

  .title {
    font-size: 18px;
    margin: 8px 12px 0 12px;
  }

  .description {
    font-size: 14px;
    margin: 8px 12px 0 12px;
    padding: 0;
  }

  .calltoactionContainer {
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 0px;
  }

  .calltoactionTitle {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .buttonMediumWrap a {
    font-size: 12px;
    padding: 1em 1.5em;
  }
}
