.navBar {
  display: flex;
  padding: 0 26px;
}

.navItem,
.active {
  color: #4d4d4d;
  text-align: right;
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  cursor: pointer;
}

.navItem:not(:first-child),
.active:not(:first-child) {
  margin-left: 28px;
}

.navItem:hover {
  text-decoration: underline 2px;
  text-underline-offset: 4px;
  color: #161616;
}

.active {
  color: #161616;
  font-weight: bold;
  text-decoration: underline 2px;
  text-underline-offset: 4px;
}

/* =============================================MEDIA QUERY 450px */
@media only screen and (max-width: 450px) {
  .navBar {
    padding: 0 16px;
  }

  .navItem {
    font-size: 12px;
  }

  .navItem:not(:first-child) {
    margin-left: 8px;
  }

  .active:not(:first-child) {
    margin-left: 8px;
  }

  .active {
    font-size: 12px;
    text-underline-offset: 2px;
  }
}
