.container {
  background-color: #fff7ed;
  height: 12vh;
  padding: 0 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Inter, sans-serif;
}

.title {
  color: #000;
  font-size: 25.353px;
  font-weight: 900;
  line-height: 40px;
  cursor: pointer;
}

/* =============================================MEDIA QUERY 450px */
@media only screen and (max-width: 450px) {
  .container {
    height: 10vh;
    padding: 0 16px;
  }

  .title {
    font-size: 14px;
  }
}
