.buttonMedium {
  position: relative;
  font-size: 17px;

  text-decoration: none;
  padding: 1em 1.5em;
  display: inline-block;
  border-radius: 10px;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: #fff;
  background-color: #161616;
}

.buttonMedium:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.buttonMedium:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.buttonMedium::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.buttonMedium::after {
  background-color: #161616;
}

.buttonMedium:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
